<div class="about-bg">
<div ng-include='"templates/header.html"'></div>
<h1>About Me</h1>
<p>I'm a software developer, always looking to increase my skills both in depth and breadth. I have a Bachelor's in Government and Legal Studies from Claremont McKenna College and a background in advertising, non-profits and childcare/education. <br>
<br>In my spare time I enjoy paddling dragon boats up and down the Wilammette, listening to stand-up comedy and, in the immortal words of Billy Idol, "dancing with myself" to just about anything that's not smooth jazz or Gregorian chants.</p>
<!--<img id="dragon" src="images/dragon.jpg" alt="dragon" style="width:300px;height:66px;">-->
<div ng-include='"templates/footer.html"'></div>
</div>
