<div class="contact-bg">
<div ng-include='"templates/header.html"'></div>
<h1>Contact</h1>
<p>Portfolio: <a href="http://www.aja.brofferio.us">http://www.aja.brofferio.us</a></p>
<p>LinkedIn: <a href="https://www.linkedin.com/in/aja-brofferio">https://www.linkedin.com/in/aja-brofferio</a></p>
<p>GitHub: <a href="https://github.com/ABrofferio">https://github.com/ABrofferio</a></p>
<p>Email: <a href="mailto:aja.brofferio@gmail.com">aja.brofferio@gmail.com</a></p>
<p>Portfolio: <a href="http://www.aja.brofferio.us">http://www.aja.brofferio.us</a></p>


<div ng-include='"templates/footer.html"'></div>
</div>
