<!--stock photos obtained from:
https://www.pexels.com/photo-license/-->
<div class="portfolio-bg">
<div ng-include='"templates/header.html"'></div>
<div class="row">
	<div class="col-xs-12 col-md-12">
	<h1>Portfolio</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
	<h1>Desktop Applications</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-4 col-md-4">
	<h2>File Transfer</h2>
	<a target="_tab" href= "https://github.com/ABrofferio/TechAcademy_Drills/tree/master/wxDbModFileTransfer"><img id="file" src="images/file.png" alt="file" style="width:195px;height:180px;"></a>
	</div>
	<div class="col-xs-4 col-md-4">
	<h2>Time Zone</h2>
	<a target="_tab" href= "https://github.com/ABrofferio/TechAcademy_Drills/tree/master/TimeZoneDrill"><img id="timezone" src="images/timezone.jpeg" alt="timezone" style="width:195px;height:180px;"></a>
	</div>
	<div class="col-xs-4 col-md-4">
	<h2>Webpage Generator</h2>
	<a target="_tab" href= "https://github.com/ABrofferio/TechAcademy_Drills/tree/master/WebPageGenerating_DbGUI"><img id="webgenerator" src="images/webgenerator.jpg" alt="webgenerator" style="width:195px;height:180px;"></a>
	</div>
</div>
<div class="row">
	<div class="col-xs-4 col-md-4">
	<h2>Fraction Multiplier</h2>
	<a target="_tab" href= "https://github.com/ABrofferio/fractionmultiplier"><img id="fraction" src="images/fraction.jpg" alt="fraction" style="width:195px;height:195px;"></a>
	</div>
	<div class="col-xs-4 col-md-4">
	<h2>Something</h2>
	</div>
	<div class="col-xs-4 col-md-4">
	<h2>Something</h2>
	</div>
</div>
<div ng-include='"templates/footer.html"'></div>
</div>
