<!--stock photos obtained from Pexels
https://www.pexels.com/photo-license/-->
<div class="portfolio-bg">
<div ng-include='"templates/navbar.html"'></div>
<h1>Portfolio</h1>
<div class="row">
	<div class="col-xs-12 col-md-12">
	<h2>Technical Skills</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 col-md-6">
	<h3>Web Development</h3>
	<h4>Bootstrap</h4>
	<h4>AngularJS</h4>
	<h4>JavaScript/jQuery</h4>
	<h4>HTML/CSS</h4>
	</div>
	
	<div class="col-xs-6 col-md-6">
	<h3>BackEnd</h3>
	<h4>Python</h4>
	<h4>C#</h4>
	<h4>SQLite</h4>
	<h4>ASP.NET</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
	<h2>Projects</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-12" id="deskapps">
	<h3>Desktop Applications</h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-4 col-md-4">
	<h4>File Transfer</h4>
	<a target="_tab" href= "https://github.com/ABrofferio/TechAcademy_Drills/tree/master/wxDbModFileTransfer"><img id="file" src="images/file.png" alt="file" style="width:195px;height:180px;"></a>
	</div>
	<div class="col-xs-4 col-md-4">
	<h4>Time Zone</h4>
	<a target="_tab" href= "https://github.com/ABrofferio/TechAcademy_Drills/tree/master/TimeZoneDrill"><img id="timezone" src="images/timezone.jpeg" alt="timezone" style="width:195px;height:180px;"></a>
	</div>
	<div class="col-xs-4 col-md-4">
	<h4>Webpage Generator</h4>
	<a target="_tab" href= "https://github.com/ABrofferio/TechAcademy_Drills/tree/master/WebPageGenerating_DbGUI"><img id="webgenerator" src="images/webgenerator.jpg" alt="webgenerator" style="width:195px;height:180px;"></a>
	</div>
</div>
<div class="row">
	<div class="col-xs-4 col-md-4">
	<h4>Fraction Multiplier</h4>
	<a target="_tab" href= "https://github.com/ABrofferio/fractionmultiplier"><img id="fraction" src="images/fraction.jpg" alt="fraction" style="width:195px;height:195px;"></a>
	</div>
	<div class="col-xs-4 col-md-4">
	<h4>Phone List</h4>
	<a target="_tab" href= "https://github.com/ABrofferio/TechAcademy_Drills/tree/master/PhoneListDrill"><img id="phone" src="images/phone.jpg" alt="phone" style="width:195px;height:195px;"></a>
	</div>
	<div class="col-xs-4 col-md-4">
	<h4>Grade Calculator</h4>
	<a target="_tab" href= "https://github.com/ABrofferio/TechAcademy_Drills/tree/master/CsharpGradingDrill"><img id="grading" src="images/grade.png" alt="grading" style="width:195px;height:195px;"></a>
	</div>
</div>
<div ng-include='"templates/footer.html"'></div>
</div>
