<div class="skills-bg">
<div ng-include='"templates/header.html"'></div>
<div class="container-fluid">
<div class="row">
	<div class="col-xs-12 col-md-12">
	<h1>Technical Skills</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 col-md-6">
	<h2>Web Development</h2>
	<h3>Bootstrap</h3>
	<h3>AngularJS</h3>
	<h3>JavaScript/jQuery</h3>
	<h3>HTML/CSS</h3>
	</div>
	
	<div class="col-xs-6 col-md-6">
	<h2>BackEnd</h1>
	<h3>Python</h3>
	<h3>C#</h3>
	<h3>SQLite</h3>
	<h3>ASP.NET</h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
	<h1>Soft Skills</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-4 col-md-4">
	<h2>Problem Solving</h2>
	<p>Trouble Shooting/Collaboration/Communication</p>
	</div>
	<div class="col-xs-4 col-md-4">
	<h2>Team Player and Team Leader</h2>
	<p>I have no problem taking the lead or voicing my opinion when I think it will be helpful to the group but I also know how to sit back and support others to move the team as a whole forward.</p>
	</div>
	<div class="col-xs-4 
	col-md-4">
	<h2>Flexibility and Creativity</h2>
	<p>I come from a background in advertising which is fast paced and dynamic you have to be flexible in order to keep up with the deadlines and ever changing desires and demands of the client. You also have to be creative to meet clients needs and the changing landscapes of what they are asking for anad what the current climate is offeing.</p>
	</div>
</div>
</div>
<div ng-include='"templates/footer.html"'></div>
</div>
